html,
body {
	font-family: 'centurygothic';
	height: 100%;
	font-size: 16px;
	line-height: 140%;
	background-color: $bgWhite;
}
main {
	flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1110px;
	height: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
