.tools-line {
	height: 2rem;
	background-color: $txWhite;
	&__items {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: end;
		svg:not(:last-child) {
			margin-right: 2.5em;
		}
	}
}
.eye,
.search {
	height: 1.3rem;
	width: 1.3rem;
	cursor: pointer;
}
.logo {
	height: 4em;
	width: 6em;
}
.header-nav {
	background-color: $primTif;
	&__content {
		border: 1px solid #000;
		display: flex;
		justify-content: space-between;
		align-items: center;

		min-height: 5rem;
	}
	&__list {
		display: flex;
		color: $txWhite;
		font-size: $fz-20;
		font-weight: 700;
	}
	&__list-item {
		display: flex;
		align-items: center;
		min-height: 5rem;
		border: 1px solid red;
	}
	&__list-item:not(:last-child) {
		margin-right: 2rem;
	}
}
