.tools-line {
	height: 2rem;
	background-color: $bgAbsWhite;
	&__items {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: end;
		svg:not(:last-child) {
			margin-right: 2.5em;
		}
	}
}
.eye,
.search {
	height: 1.3rem;
	width: 1.3rem;
	cursor: pointer;
}
.logo {
	height: 4em;
	width: 6em;
}
.header-nav {
	background-color: $primTif;
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;

		min-height: 5rem;
	}
	&__list {
		display: flex;
		color: $bgAbsWhite;
		font-size: 1em;
		font-weight: 700;
	}
	&__list-item {
		display: flex;
		align-items: center;
		min-height: 5rem;
		cursor: default;
		padding: 8px;
		position: relative;
		border: 1px solid red;
	}
	&__list-item:not(:last-child) {
		margin-right: 2rem;
	}
	&__list-hide {
		overflow: hidden;
		font-size: 0.75em;
		font-weight: 400;
		position: absolute;
		right: 0;
		top: 80%;
		border-radius: 0.6em;
		color: $txBlack;
		background-color: $bgAbsWhite;
		box-shadow: $shadowAdd;
	}
	&__list-link {
		width: 100%;
		display: inline-block;
		padding: 8px 16px;
		line-height: 1.1em;
		transition: background-color 0.2s cubic-bezier(1, -0.09, 0.83, 0.67),
			color 0.2s cubic-bezier(1, -0.09, 0.83, 0.67),
			before 0.2s cubic-bezier(1, -0.09, 0.83, 0.67),
			transform 0.2s cubic-bezier(1, -0.09, 0.83, 0.67);
		transform: translateX(-4px);
	}
	&__list-link:hover {
		background-color: $bgAdd;
		color: $primTif;
		position: relative;
		font-weight: 700;
		transform: translateX(0px);
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 2px;
			background-color: $primTif;
		}
	}
	&__list-hide-item {
		min-width: 13em;
	}
	// &__list-link:not(:first-child) {
	// 	padding-top: 8px;
	// }
	// &__list-link:not(:last-child) {
	// 	padding-bottom: 8px;
	// }
}
