.tools-line {
	height: 2rem;
	background-color: $txWhite;
}
.eye,
.search {
	height: 1.3rem;
	width: 1.3rem;
}
.tools-line__items {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: end;
}
