// Colors main

$primTif: #00b2b5;
$addTif: #6cd3d3;

// Colors BG

$bgWhite: #f5f6f9;
$bgGrey: #eff2f9;
$bgAdd: #c9eced;
$bgLightAdd: #ddf0f2;

// Colors Text

$txBlack: #25282b;
$txGrey: #a4a4af;
$txLightGrey: #c9c8d3;
$txWhite: #ffffff;
$txError: #de4545;
